<div class="form-group">
  <label for="comment" class="control-label">
    {{t "tickets::TicketStatusModel::Comments"}}
  </label>
  <div>
    <textarea class="editor" id="comments" name="comments" data-editor-settings='{"styles":false, "lists": false, "table": false, "picture": false, "horizontalrule": false, "align": false, "source": false}'>{{comment}}</textarea>
    <span class="help-block hidden"></span>
  </div>
</div>

{{#unless status}}
  <div class="form-group">
    <label for="status" class="control-label">
      {{t "tickets::TicketStatusModel::Status"}}
    </label>
    <div>
      <select id="status" name="status" class="form-control">
        <option>{{t "tickets::Select new ticket status..."}}</option>
        {{#each statuses}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <span class="help-block hidden"></span>
    </div>
  </div>
{{/unless}}
