<header id="moduleHeader">
  <ol class="breadcrumb arrow">
    <li>
      <a href="#">
        <i class="icon icon-home"></i>
      </a>
    </li>
    <li>
      <a href="#tickets">
        <i class="icon icon-ticket"></i>
        {{t "tickets::Tickets"}}
      </a>
    </li>
    <li>
      <span>
        {{id}}
      </span>
    </li>
  </ol>
</header>



<article class="mainContent ticket row">

  <div class="main col-xs-12 col-md-9">
    <header>
      <h1>{{title}}</h1>
    </header>
    <div class="ticketBody">
      {{{body}}}

      {{#if attachments}}
        <div class="ticketAttachments">
          <ul>
            {{#each attachments}}
              <li>
                <h6>
                  <a href="{{upload.url}}" target="_blank">
                    <i class="icon icon-cloud-download"></i>
                    {{name}}
                  </a>
                </h6>
                {{#if description}}
                  <div class="description">
                    {{description}}
                  </div>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

    </div>

    <div class="ticketComments">
      <header>
        <h5>
          <i class="icon icon-comments"></i> {{t "tickets::Comments"}}
        </h5>
      </header>
      <ul class="comments"></ul>
    </div>

    <div class="ticketActions">
      <div class="btn-group btn-group-sm" role="group">
        {{#if closed}}
          <button type="button" class="btn btn-primary" id="reopenTicket">
            <i class="icon icon-exclamation-circle"></i>
            {{t "tickets::Reopen ticket"}}
          </button>
        {{else}}
          <button class="btn btn-default" id="addComment">
            <i class="icon icon-comment"></i>
            {{t "tickets::Add comment"}}
          </button>
          <button type="button" class="btn btn-primary" id="closeTicket">
            <i class="icon icon-check-square"></i>
            {{t "tickets::Close ticket"}}
          </button>
        {{/if}}
      </div>
    </div>
  </div>


  <aside class="col-xs-12 col-md-3">

    <div class="block ticketDetails">
    <h4>{{t "tickets::Ticket details"}}</h4>
      <dl>
        <dt>{{t "tickets::TicketModel::ID"}}</dt>
        <dd>
          <code class="ticketCode">{{id}}</code>
        </dd>

        <dt>{{t "tickets::TicketModel::Created_at"}}</dt>
        <dd>{{moment updated_at format="LLL"}}</dd>

        <dt>{{t "tickets::TicketModel::Updated_at"}}</dt>
        <dd>{{moment updated_at format="fromNow"}}</dd>

        {{#if category}}
          <dt>{{t "tickets::TicketModel::Category"}}</dt>
          <dd>{{category.name}}</dd>
        {{/if}}

        {{#any statuses}}
          {{#withLast statuses}}
            <dt>{{t "tickets::TicketModel::Status"}}</dt>
            <dd>
              {{#if status.open}}
                <span class="label">{{status.name}}</span>
              {{else}}
                {{#if status.closed}}
                  <span class="label label-danger">{{status.name}}</span>
                {{else}}
                  <span class="label label-info">{{status.name}}</span>
                {{/if}}
              {{/if}}
            </dd>
          {{/withLast}}
        {{/any}}

        {{#and manager manager.id}}
          <dt>
            {{t "tickets::Agent"}}
          </dt>
          <dd class="userWidget">
            {{#with manager}}
              {{#with profile}}
                {{#and image image.url}}
                  <div class="img" style="background-image:url({{ image.url }})"></div>
                {{else}}
                  <div class="img" style="background-image:url({{ avatar }})"></div>
                {{/and}}
              {{/with}}

              <em>
                {{#if profile.name}}
                  {{profile.name}}
                {{else}}
                  {{username}}
                {{/if}}
              </em>
            {{/with}}
          </dd>
        {{/and}}

      </dl>
    </div>

    {{#any statuses}}
      <div class="block">
        <h4>{{t "tickets::Ticket evolution"}}</h4>
        <ul class="timeline statusTimeline">
          {{#each statuses}}
            <li>
              <div class="timeline-badge userWidget">

                {{#with user}}
                  {{#if profile}}
                    {{#with profile}}
                      {{#and image image.url}}
                        <div class="img" style="background-image:url({{ image.url }})"></div>
                      {{else}}
                        <div class="img" style="background-image:url({{ avatar }})"></div>
                      {{/and}}
                    {{/with}}
                  {{/if}}
                {{/with}}

              </div>
              <div class="timeline-panel">
                <h5 class="timeline-panel-title">{{status.name}}</h5>
                <time class="date">{{moment updated_at format="LLL"}}</time>
                {{#if comments}}
                  <div class="timeline-panel-content">
                    {{{comments}}}
                  </div>
                {{/if}}
              </div>
            </li>
          {{/each}}

        </ul>
      </div>
    {{/any}}

  </aside>

</article>
