{{#with profile}}


<div class="form-group">
  <label for="avatar" class="control-label">
    {{t "UserProfileModel::avatar"}}
  </label>
  <div class="form-image-field">
    {{#if avatar}}
      <img src="{{avatar}}" alt="" />
    {{/if}}
    <button type="button" id="avatarBtn" class="btn btn-sm" disabled>
      {{t "Upload new picture"}}
    </button>
    <input type="hidden" class="form-control" id="avatar" name="profile.avatar" value="{{avatar}}">
    <span class="help-block hidden"></span>
  </div>
</div>



<div class="form-group">
  <label for="name" class="control-label">
    {{t "UserProfileModel::name"}}
  </label>
  <div>
    <input type="text" class="form-control" id="name" name="profile.name" placeholder="{{t "UserProfileModel::name"}}" value="{{name}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="surname" class="control-label">
    {{t "UserProfileModel::surname"}}
  </label>
  <div>
    <input type="text" class="form-control" id="surname" name="profile.surname" placeholder="{{t "UserProfileModel::surname"}}" value="{{surname}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="phone" class="control-label">
    {{t "UserProfileModel::phone"}}
  </label>
  <div>
    <input type="text" class="form-control" id="phone" name="profile.phone" placeholder="{{t "UserProfileModel::phone"}}" value="{{phone}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="location" class="control-label">
    {{t "UserProfileModel::location"}}
  </label>
  <div>
    <input type="text" class="form-control" id="location" name="profile.location" placeholder="{{t "UserProfileModel::location"}}" value="{{location}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="company" class="control-label">
    {{t "UserProfileModel::company"}}
  </label>
  <div>
    <input type="text" class="form-control" id="company" name="profile.company" placeholder="{{t "UserProfileModel::company"}}" value="{{company}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="url" class="control-label">
    {{t "UserProfileModel::url"}}
  </label>
  <div>
    <input type="text" class="form-control" id="url" name="profile.url" placeholder="{{t "UserProfileModel::url"}}" value="{{url}}">
    <span class="help-block hidden"></span>
  </div>
</div>
{{/with}}
