{{#with profile}}


<div class="form-group">
  <label for="avatar" class="control-label">
    {{t "UserProfileModel::avatar"}}
  </label>
  <div class="profileImageContainer">

    <input type="hidden" class="form-control" id="avatar" name="profile.avatar" value="{{avatar}}">

    <input type="text" class="form-control" id="profileImage" name="profile.image" placeholder="{{t "UserProfileModel::profileImage"}}" data-max-files="1" {{#if avatar}}data-avatar="{{avatar}}"{{/if}} />

    <div id="profileImageHelp">
      <p>{{t "profile::Click on the image or drag over a new image to upload a new profile picture"}}</p>
    </div>

    <span class="help-block hidden"></span>
  </div>
</div>



<div class="form-group">
  <label for="name" class="control-label">
    {{t "UserProfileModel::name"}}
  </label>
  <div>
    <input type="text" class="form-control" id="name" name="profile.name" placeholder="{{t "UserProfileModel::name"}}" value="{{name}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="surname" class="control-label">
    {{t "UserProfileModel::surname"}}
  </label>
  <div>
    <input type="text" class="form-control" id="surname" name="profile.surname" placeholder="{{t "UserProfileModel::surname"}}" value="{{surname}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="phone" class="control-label">
    {{t "UserProfileModel::phone"}}
  </label>
  <div>
    <input type="text" class="form-control" id="phone" name="profile.phone" placeholder="{{t "UserProfileModel::phone"}}" value="{{phone}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="location" class="control-label">
    {{t "UserProfileModel::location"}}
  </label>
  <div>
    <input type="text" class="form-control" id="location" name="profile.location" placeholder="{{t "UserProfileModel::location"}}" value="{{location}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="company" class="control-label">
    {{t "UserProfileModel::company"}}
  </label>
  <div>
    <input type="text" class="form-control" id="company" name="profile.company" placeholder="{{t "UserProfileModel::company"}}" value="{{company}}">
    <span class="help-block hidden"></span>
  </div>
</div>

<div class="form-group">
  <label for="url" class="control-label">
    {{t "UserProfileModel::url"}}
  </label>
  <div>
    <input type="text" class="form-control" id="url" name="profile.url" placeholder="{{t "UserProfileModel::url"}}" value="{{url}}">
    <span class="help-block hidden"></span>
  </div>
</div>
{{/with}}
